:root{
    --color1: #8147f0;
    --color2: #36236f;
    --color3: #9124d4;
    --color4: #b07e5b;
    --color5: #acb0d0;
    --color6: #383254;
    --color7: #fafafa;
}

@font-face {
    font-family: martin;
    src: url(./Fuentes/MARTIN/Martian_Mono/MartianMono-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./Fuentes/roboto/Roboto/Roboto-Black.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/**---whatsapp icono flotante---**/
.whatsapp-float{
    background-color: #25d366;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    position: fixed;
    text-align: center;
    right: 40px;
    color: #fff;
    bottom: 80px;
    font-size: 30px;
    z-index: 100;
}
.whatsapp-float a{
    text-decoration: none;
    color: var(--color7);
}

.whatsapp-float .fa-brands{
    padding: 14px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.whatsapp-float i:hover{
    color: black;
    cursor: pointer;
}


/*------------------------------*/
/*----------- HEADER -----------*/
/*------------------------------*/


nav{
    position: fixed;
    background: rgba(23,13,52,.8);
    height: 80px;
    width: 100%;
    font-family: roboto;
    z-index: 100;
}

.logo{
    position: absolute;
    padding: 20px 50px;
    display: flex;
    
}

.kay{
    color: var(--color1);
    font-size: 2em;
    font-family: martin;
    font-weight: 900;
    animation: nombre 1s infinite alternate linear;
}

@keyframes nombre{
    100%{ color: var(--color7);}
}

.rek{
    color: var(--color7);
    font-size: 2em;
    font-family: martin;
    font-weight: 900;
}

nav ul{ 
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: var(--color7);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}

.active, nav ul li a:hover{
    background: var(--color3);
}



.checkbtn{
    font-size: 30px;
    color: var(--color7);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.btn-header{
    border-radius: 5px ;
    background-color: var(--color1);
    font-size: 10px;
    vertical-align: middle;
}



/*------------------------------*/
/*----------- SLIDER -----------*/
/*------------------------------*/

.slider{
    width: 100%;
    height: calc(100% - 80px);
    margin: auto;
    overflow: hidden;
    background: rgb(129,71,240);
    background: linear-gradient(180deg, rgba(129,71,240,1) 13%, rgba(23,13,52,1) 61%, rgba(54,35,111,1) 98%);
    color: var(--color7);
    position: relative;
    text-align: center;
    display: block;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.slider li{
    position: relative;
    width: 100%;
    list-style: none;
}

.borde{
    height: 20em;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30%;
    left: 50%;
    width: 50%;
    transform:translate(-50%,-10%);
    width: 80%;
    background-color: rgba(145, 36, 212, .5);
    color: var(--color7);
    animation: siguiente 2s infinite alternate;
}

.borde:hover{
    opacity: 1 !important;
}


.slider ul li img{
    width: 100%;
    height: calc(100vh - 80px);
}



.parrafo{
    font-size: 1.5em;
    font-family: martin;
    text-shadow: 3px 3px 1px var(--color6);
    margin-bottom: 5px;
}

.titulo{
    font-size: 4em;
    font-family: roboto;
    text-shadow: 3px 3px 1px var(--color6);
}



.btn{
    width: 15em;
    height: 2em;
    margin-top: 2em;
    border: 1px solid var(--color7);
    border-radius: 10px;
    background-color: var(--color3);
    padding: 6px 1px;
    font-family: roboto;
    color: var(--color7);
}

.btn:hover{
    transform: scale(1.5);
    cursor: pointer;
}


@keyframes cambio {
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{ margin-left:  -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left:  -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left:  -300%;}
    100%{ margin-left: -300%;}
}

@keyframes siguiente{
    0%{ opacity: 0;}
    70%{opacity: 1;}
}



/*------------------------------*/
/*----------- ABOUT -----------*/
/*------------------------------*/

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: martin;
    padding: 1em;
    width: 100%;
    background: rgb(129,71,240);
    background: linear-gradient(0deg, rgba(129,71,240,1) 13%, rgba(23,13,52,1) 61%, rgba(54,35,111,1) 98%);
}
.about-title{
    color: var(--color7);

}

.about-title h2{
    font-size: 2em;
    margin: 2em 0 .5em 0;
}

.description{
    color: var(--color7);
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    line-height: 1.3em;
}


/*------------------------------*/
/*----------- ASI TRABAJAMOS -----------*/
/*------------------------------*/

.work{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: martin;
    line-height: 1.3em;
    background: rgb(129,71,240);
    background: linear-gradient(180deg, rgba(129,71,240,1) 25%, rgba(54,35,111,1) 100%);
}
.work-title{
    margin-bottom: 1.2em;
    color: var(--color7);
    text-shadow: black 0.1em 0.1em 0.2em
}
.work-title h2{
    font-size: 3rem;
    margin: 2em 0 .5em 0;
}
.work-p p{
    color: var(--color7);
    text-align: center;
    font-size: 1rem;
}

.work-container{
    display: flex;
}
.work-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--color7);
    border-radius: 15px;
    text-align: center;
    background: rgb(179,36,212);
    background: linear-gradient(180deg, rgba(179,36,212,1) 35%, rgba(54,35,111,1) 100%);
    color: var(--color7);
    width: 100%;
    height: 100%;
    vertical-align: top;
    margin: 0 1%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image:hover{
    background: var(--color6);
    transform: scale(1.1);
}

.image h3{
    text-shadow: black 0.1em 0.1em 0.2em
}



.img img{
    width: 200px;
    height: 200px;
    padding: 10px;
}

/*------------------------------*/
/*-----------   contacto -----------*/
/*------------------------------*/
.contacto-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: rgb(129,71,240);
    background: linear-gradient(0deg, rgba(129,71,240,1) 25%, rgba(54,35,111,1) 100%);
}

.contenerdor{
    display: flex;
    width: 100%;
}

.contacto-title{
    margin: 2em 0 .5em 0;
    color: var(--color7);
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 3rem;
    font-family: martin;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form input{
    width: 50%;
    height: 3em;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form textarea{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.button{
    width: 40%;
}

.button input:hover{
    cursor: pointer;
    background-color: var(--color2);
    color: var(--color7);
    font-weight: bold;
    border: 2px solid var(--color7);
}

.button input{
    background-color: var(--color3);
    font-size: 1.3rem;
    border: none;
    text-align: center;
    color: var(--color7);
    text-shadow: black 0.1em 0.1em 0.2em
}

.google-map{
    width: 50%;
}

.google-map iframe{
    border-radius: 10px;
    width: 90%;
}


/**---FOOTER---**/

footer{
    display: flex;
    flex-direction: column;
    background: rgb(129,71,240);
    background: linear-gradient(180deg, rgba(129,71,240,1) 25%, rgba(54,35,111,1) 78%);
    color: var(--color7);
}

.footer-container-sup{
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 1.5rem;
}

.footer-left h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer-left p{
    font-size: 1.3rem;
}

.footer-logo{
    display: flex;
    font-size: 2.5rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 20px;
    
}

.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    padding: 1.5rem;
}

.footer-icons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.footer-container-bott{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    padding: 1rem;
    text-shadow: black 0.1em 0.1em 0.2em
}







/*------------------------------------------*/
/*----------- RESPONSIVE DEVICES -----------*/
/*------------------------------------------*/


/*------------------------------*/
/*----------- TABLET -----------*/
/*------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {


    /*------------------------------*/
/*----------- HEADER -----------*/
/*------------------------------*/

    .checkbtn{
        display: block;
    }

    header ul{
       position: fixed; 
       width: 100%;
       height: 100%;
       background: var(--color5);
       top: 80px;
       z-index: 100;
       left: -100%; 
       text-align: center;
       transition: all .5s;
    }

    header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }



  /*------------------------------*/
/*----------- SLIDER -----------*/
/*------------------------------*/
   



.slider ul li img{
    height: 70vh;
}

    .about-title{
        margin-top: 2rem;

    }


    /*------------------------------*/
    /*----------- ABOUT -----------*/
    /*------------------------------*/

    .about{
        font-size: 15px;
    }

    /*------------------------------*/
    /*----------- ASI TRABAJAMOS -----------*/
    /*------------------------------*/
    .work-title h2{
        font-size: 2rem;
    }

    .work-p p{
        font-size: 15px;
    }

    .work-image{
        flex-direction: column;
        font-size: 15px;
    }

    .image:hover{
        background: var(--color6);
        transform: scale(1.05);
    }

    .contact{
        flex-direction: column;
    }

    .contenerdor{
        flex-direction: column;

    }

    .contacto-title{
        font-size: 2rem;
    }

    .contacto{
        width: 100%;
    }

    .google-map{
        margin-top: 2em;
        width: 100%;
    }

    .google-map iframe{
        width: 80%;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }

    .footer-icons{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .footer-icons i{
        margin-top: 30px;
    }
}




/*------------------------------*/
/*----------- PHONE -----------*/
/*------------------------------*/

@media screen and (max-width: 767px) {

    /*------------------------------*/
/*----------- HEADER -----------*/
/*------------------------------*/
    .checkbtn{
        display: block;
    }

    header ul{
       position: fixed; 
       width: 100%;
       height: 100%;
       background: var(--color5);
       top: 80px;
       z-index: 100;
       left: -100%; 
       text-align: center;
       transition: all .5s;
    }

    header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }
    

    /*------------------------------*/
/*----------- SLIDER -----------*/
/*------------------------------*/
    .borde{
        height: 13em;
        top: 36%;
    }
    .slider ul li img{
        height: 50vh;
    }

    .parrafo{
        font-size:  1rem;
    }

    .titulo{
        font-size: 2rem;
    }

    .btn{
        width: 8rem;
        margin-top: 1em;
    }
    .btn:hover{
        
        cursor: pointer;
    }

/*------------------------------*/
/*----------- ABOUT -----------*/
/*------------------------------*/

    .about{
        font-size: 15px;
    }

   /*------------------------------*/
/*----------- ASI TRABAJAMOS -----------*/
/*------------------------------*/
    .work-title h2{
        font-size: 2rem;
    }

    .work-p p{
        font-size: 15px;
    }

    .work-image{
        flex-direction: column;
        font-size: 15px;
        gap: 2rem;
    }

    .image:hover{
        background: var(--color6);
        transform: scale(1.05);
    }


       /*------------------------------*/
/*----------- CONTACTO -----------*/
/*------------------------------*/

    .contact{
        flex-direction: column;
    }

    .contenerdor{
        flex-direction: column;
    }

    .contacto-title{
        font-size: 2rem;
    }

    .contacto{
        width: 100%;
    }

    .google-map{
        margin-top: 2em;
        width: 100%;
    }

    .google-map iframe{
        width: 80%;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }

    .button input{
        font-size: .8em;
        text-align: center;
    }


/*------------------------------*/
/*----------- FOOTER -----------*/
/*------------------------------*/

    .footer-logo div{
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    .footer-container-sup{
        flex-direction: column;
        text-align: center;
    }

    .footer-left{
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .footer-left h3{
        font-size: 25px;
    }

    .footer-icons{
        flex-direction: column;
        margin: 0 auto;
    }

    .footer-icons i{
        margin-top: 30px;
    }

}
    
